{% extends "base.html" %}


{% block content %}
    <div class="col">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="title">Name: </label>
                <input type="text" class="form-control" id="name" size="10" style="width: 300px">
            </div>
            <div class="form-group">
                <label for="title">Contact Number: </label>
                <input type="text" class="form-control" id="contact" size="20" style="width: 300px">
            </div>
            <div class="form-group">
                <label for="title" id="exp">Experience: </label>
                <select>
                    <option value="Fresher">Fresher</option>
                    <option value="ASSOCIATE">ASSOCIATE</option>
                    <option value="MIDLEVEL">MIDLEVEL</option>
                    <option value="SENIOR">SENIOR</option>
                    <option value="MANAGER">MANAGER</option>
                </select>
            </div>
            <div class="form-group">
                <label for="content">Resume: </label>
                <input type="file" class="form-control" id="resume" name="datafile" size="10" style="width: 300px">
            </div>
            <button type="submit" onclick="getFormData()" class="btn btn-primary">Submit</button>
        </form>
    </div><br />
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="table-responsive col-sm-8">
            <table class="table table-striped">
                <tr>
                    <td>Name</td>
                    <td>Contact Number</td>
                    <td>Experience</td>
                    <td>Resume</td>
                    <td>Applicant Status</td>
                </tr>
                {% for forum in default_topics %}
                    <tr>
                        <td>{{ forum.name }}</td>
                        <td>{{ forum.contact_number }}</td>
                        <td>
                            {% if forum.experience == 1 %}
                                Fresher
                            {% elif forum.experience == 2 %}
                                Associate
                            {% elif forum.experience == 3 %}
                                Mid-level
                            {% elif forum.experience == 4 %}
                                Senior
                            {% else %}
                                Manager
                            {% endif %}
                        </td>
                        <td>{{ forum.resume }}</td>
                        <td>
                            {% if forum.status == 1 %}
                                Accepted by recruiter
                            {% elif forum.status == 2 %}
                                Rejected by recruiter
                            {% else %}
                                On hold/In process
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript">
    function getFormData()
    {
        var name = document.getElementById("name").value;
        var contact = document.getElementById("contact").value;
        var experience = document.getElementById("exp").value;
        var resume = document.getElementById("resume").value;
        $.ajax({
            type: "POST",
            headers: {"Authorization": "Token d0133c139310e856bcde1fbb2515f248de83a530"},
            data :JSON.stringify({"name": name, "contact": contact, "experience": experience, "resume": resume}),
            url: "http://127.0.0.1:8000/blog/create/",
            processData: true,
            contentType: "application/form-data"
        });
    };
    </script>
{% endblock %}
